.MsjCarga {
    /*color: #155724;*/
    color: black;
    font-weight: bold;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: fixed;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    /*width: 200px;
    height: 30px;*/
    padding: 0.75rem 1.25rem;
    text-align: center;
}
