<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--Parametros Configuracion-->
  <appSettings/>
  <connectionStrings>
    <add name="Servipag" connectionString="Data Source=172.30.1.6;Initial Catalog=Servipag2;Persist Security Info=True;User ID=sadev;Password=magerogu" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="20480" executionTimeout="500"/>
    <!-- 
            Establezca compilation debug="true" para insertar símbolos 
      de depuración en la página compilada. Puesto que esto 
      afecta al rendimiento, establezca este valor en true solo 
      durante el desarrollo.
       -->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
            La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
            La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, private"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="-1"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>