.agen .accordion {
	 border-top: 1px solid #013d6c;
	 border-right: 1px solid #013d6c;
	 border-left: 1px solid #013d6c;
/*	 margin-bottom:20px;
	 display:block;*/
}


.agen .accordion,  .agen .accordion li  {
	margin: 0;
	 padding: 0;
	 border: none;
}


.agen .accordion a#titulo  {
	padding: 10px 10px 10px 25px;
	text-decoration:none;
	display: block;
	color: #fff;
	border-bottom: 1px solid #013d6c;
	border-top: 1px solid #4695d3;
	background : #004987 url(images/icon-titulos.png) no-repeat left center !important;
	font-weight:bold;
	font-size:13px;
}
/*004987 0D5995*/
.agen .accordion a  {
	 padding: 5px 10px 5px 25px;
	 /*background: #0D5995;*/
	 text-decoration:none;
	 display: block;
	 color: #fff;
	 border-bottom: 1px solid #013d6c;
	 border-top: 1px solid #4695d3;
	 background : #0D5995 url(images/icon-item-menu.png) no-repeat left center;
	 background-position:5px;
}

.agen .accordion a:hover  {

	 background-position:2px;
	 background-color:#4695d3;
}


.agen .accordion ul a  {
	padding: 5px 10px 5px 25px;
	/*background-position:10px;*/
}

.sub {
	background-position:15px !important;
	padding-left:35px !important;
}

.sub:hover {
	background-position:12px !important;
	background-color:#4695d3;
}

.agen .accordion ul {
	/*margin-left: 10px;*/
	
}


.agen .accordion a.dcjq-parent  {
	padding: 5px 10px 5px 25px;
	background : #0D5995 url(images/icon-item-menu.png) no-repeat left center;
	background-position:5px;
	
}
.agen .accordion a.dcjq-parent:hover{
	padding: 5px 10px 5px 25px;
	background : #4695d3 url(images/icon-item-menu.png) no-repeat left center;
	background-position:5px;
}


.agen .accordion a.dcjq-parent.active  {
	/*background: #0D5995 url(images/checkers.png) repeat 0 0;*/
	background : #0D5995 url(images/icon-item-menu-abajo.png) no-repeat left center;
	background-position:5px;
}

.agen .accordion a.dcjq-parent.active:hover  {
	/*background: #0D5995 url(images/checkers.png) repeat 0 0;*/
	background : #4695d3 url(images/icon-item-menu-abajo.png) no-repeat left center;
	background-position:2px;
}


.agen .accordion a:hover  {
	background : #4695d3 url(images/icon-item-menu.png) no-repeat left center;
	background-position:2px;
}


.agen .accordion a:active 
{

}


